div#hoverProject div#first
    display: flex
    transition: display 2s

div#hoverProject:hover div#first
    display: none
    transition: display 2s

div#hoverProject div#second
    display: none
    transition: display 2s

div#hoverProject:hover div#second
    display: flex
    transition: display 2s
    // position: absolute

.projectBox, .projectBoxBack, .experiment
    // width: 300px
    // height: 300px
    min-width: 300px!important
    min-height: 300px!important
    width: calc(100vw/4.5)
    height: calc(100vw/4.5)
    align-items: center
    // color: #17436e
    margin: 3px

.projectBox
    background-color: black
    display: flex
    justify-content: center
    transition: background-color 1s, color 1s

// .projectBox:hover
//     background-color: white
//     color: black
//     display: none

.experiment
    background: yellow
    transition: background 2s , width 2s, height 2s
      transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1)

    

    

.experiment:hover
    background: cyan
    transition: background 2s , width 2s, height 2s
      transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1)

    width: 100vw
    height: 350px

.projectBoxBack
    background-color: #FFFFFF05
    // display: flex
    justify-content: center
    transition: background-color 1s, color 1s
    text-align: center
    padding: 30px

.adjustLine
    line-height: 18px
    letter-spacing: -1px
    font-size: .85rem

.hashtag
    background-color: transparent
    color: white
    border-radius: 7px
    border-style: solid
    border-color: #FFFFFF50
    border-width: 1px
    margin: 3px
    padding: 0px 4px 0px 4px
    line-height: 25px
    font-size: 14px
    display: inline-block

.active
    background-color: #e5ff00
    color: black
    font-weight: 600
    transition: background-color 1s, font-weight 1s

.hashtagLg
    border-radius: 20px
    padding: 0px 20px 0px 20px
    margin: 5px 10px 5px 0

.hashtagLg:hover
    background-color: #FFFFFF25
    color: white
    border-radius: 20px
    padding: 0px 20px 0px 20px
    margin: 5px 10px 5px 0
    font-weight: 400
    transition: background-color 1s, font-weight 1s

.tech-used
    width: 22px
    height: auto

.subtitle-front
    letter-spacing: .5px

.screenshot

    