<div class="container-fluid mx-0 px-0 my-5 p-5" style="background-color: rgb(34, 34, 34);">
    <h3>MY WORK <a class="badge badge-pill badge-primary">#process</a>
        <a class="badge badge-pill badge-secondary">#csharp</a>
        <a class="badge badge-pill badge-success">#javascript</a>
        <a class="badge badge-pill badge-danger">#angular</a>
        <a class="badge badge-pill badge-warning">#design</a>
        <a class="badge badge-pill badge-info">#react</a>
        <a class="badge badge-pill badge-light">#css</a>
        <a class="badge badge-pill badge-dark">#html</a>
    </h3>
    <hr>
<div class="row d-flex justify-content-center">
        <div class="projectBox" *ngFor="let project of projects, index as i">
            {{project}}
        </div>
</div>
</div>