<div class="container-fluid mx-0 px-0 p-5" style="background-color: rgb(26, 26, 26);">
    <h3>
        MY WORK
    </h3>
    <hr>
    <div class="row px-0 mx-0 py-4">
        <h5>
            filter by:
            <span *ngIf="filterOn" class="hashtag hashtagLg" (click)="ngOnInit()">× Clear Filter</span>
            <span class="hashtag hashtagLg" (click)="filterProjects('process')">#process</span>
            <span class="hashtag hashtagLg" (click)="filterProjects('csharp')">#csharp</span>
            <span class="hashtag hashtagLg" (click)="filterProjects('javascript')">#javascript</span>
            <span class="hashtag hashtagLg" (click)="filterProjects('angular')">#angular</span>
            <span class="hashtag hashtagLg" (click)="filterProjects('design')">#design</span>
            <span class="hashtag hashtagLg" (click)="filterProjects('react')">#react</span>
            <span class="hashtag hashtagLg" (click)="filterProjects('css')">#css</span>
            <span class="hashtag hashtagLg" (click)="filterProjects('html')">#html</span>
        </h5>
    </div>

    <div class="row d-flex justify-content-center px-0 mx-0">
        <div id="hoverProject" *ngFor="let project of projectList, index as i" (mouseenter)="sendIndex(projectList[i])">

            <div id="first" class="projectBox" style="color: {{project.text}}; background-color: {{project.color}};">
                <!-- {{project.name}} -->
                <div class="row">
                    <div class="col-12">
                        <div class="row d-flex justify-content-center">
                            <img src="{{project.logo}}" />
                        </div>
                        <!-- <div class="row">
                            <h5 class="text-center pt-3">{{project.name}}</h5>
                        </div> -->
                    </div>
                </div>

            </div>

            <div id="second" class="projectBoxBack col fadeIn">
                <div class="row">
                    <div class="col-12">
                        <h5>{{project.name}}</h5>
                    </div>
                    <div class="col-12">
                        <p class="adjustLine">
                            {{project.desc}}
                        </p>
                    </div>
                    <!-- <div class="col-12 my-3">
                        <span *ngIf="project.repoUrl || project.liveUrl || project.xdUrl">Launch Project: </span>
                        <a href={{project.liveUrl}} target="_blank">
                            <img *ngIf="project.liveUrl"
                                src="./../../../assets/images/project_card/Icon ionic-md-open.svg" />
                            </a>
                        <span *ngIf="project.repoUrl && project.liveUrl"> | </span>
                        <a href={{project.repoUrl}} target="_blank">
                            <img *ngIf="project.repoUrl"
                                src="./../../../assets/images/project_card/Icon awesome-github.svg" alt="gh logo" />
                            </a>
                            <span *ngIf="project.repoUrl && project.liveUrl && project.xdUrl"> | </span>
                        <a href={{project.xdUrl}} target="_blank">
                            <img style="width: 24.618px" *ngIf="project.xdUrl"
                                src="./../../../assets/images/project_card/cc_xd.svg" />
                            </a>
                    </div> -->
                    <div class="col-12">
                        <app-project-focus-modal></app-project-focus-modal>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>