.projectBox
    width: 250px
    height: 250px
    background-color: black
    display: flex
    justify-content: center
    align-items: center
    transition: background-color 1s, color 1s

.projectBox:hover
    background-color: white
    color: black