.fullH
    height: 100%

.sidenav
    background-color: #242424
    width: 75px
    color: #868686
    height: 100%
    padding-left: 0px
    margin-left: 0px

.iconBox
    width: 75px
    height: 75px
    display: flex
    justify-content: center
    align-items: center

.stick
    position: fixed
    top: 0
