<div class="container-fluid px-0 mr-5 fullH stick" style="z-index: -1;">
    <div class="sidenav d-flex flex-column justify-content-between">
        <div>
            <div class="iconBox">
                jr
            </div>
            <div class="iconBox">
                <a href="https://github.com/josephracca" target="_blank"><img class="shrink" src="./../../../assets/images/Icons/nav_github.svg"></a>
            </div>
            <div class="iconBox">
                <img class="shrink" src="./../../../assets/images/Icons/nav_ext.svg">
            </div>
            <div class="iconBox">
                <a href="https://www.codewars.com/users/josephracca" target="_blank"><img class="shrink" src="./../../../assets/images/Icons/nav_codewars.svg"></a>
            </div>
        </div>
        <div class="iconBox">
            <a href="https://www.instagram.com/jracca/" target="_blank"><img class="shrink" src="./../../../assets/images/Icons/nav_ig.svg"></a>
        </div>
    </div>
</div>

<!-- <p>sidenav works!</p> -->