<div class="container-fluid pl-0 fullH">
    <div class="sidenav d-flex flex-column justify-content-between">
<div>
            <div class="iconBox">
                jr
            </div>
            <div class="iconBox">
                <a href="https://github.com/josephracca" target="_blank">gh</a>
            </div>
            <div class="iconBox">
                ext
            </div>
            <div class="iconBox">
                <a href="https://www.codewars.com/users/josephracca" target="_blank">kata</a>
            </div>
</div>
        <div class="iconBox">
            <a href="https://www.instagram.com/jracca/" target="_blank">ig</a>
        </div>
    </div>
</div>

<!-- <p>sidenav works!</p> -->