<div class="container-fluid mx-0 px-0 p-4 p-md-5 featured">
    <h3>
        TRUST THE PROCESS
        <hr>
    </h3>

    <!-- NEW CARD -->
    <div class="row d-flex justify-content-center">

        <!-- NEW CARD -->
        <div class="card" style="width:25rem;">
            <img src="./../../../assets/images/photos/eightand.png" class="card-img-top"
                alt="snapshot of solution visualization">
            <div class="card-body">
                <p class="date">APRIL 2021</p>
                <h4 class="card-title">Started from the Bottom, Now We Here</h4>
                <hr>
                <h5 class="subTitle">Currently, in progress...Building a fullstack application from the ground up is
                    more fun when you can collaborate with a team.</h5>
                <p class="card-text">Along the way, you work with people, and on occasion, the people you work with can
                    both drive you crazy but also keep you sane. The team I've built includes Alex Ato, Kenneth
                    Martinez, and Carlos Gonzalez. Our goal is to get this application published by the time we finish
                    at Codestack Academy.</p>
                <a href="#" class="btn btn-dark">See Our Progress on 8&</a>
            </div>
        </div>

        <!-- NEW CARD -->
        <div class="card" style="width:25rem;">
            <img src="./../../../assets/images/photos/hfpsketch.png" class="card-img-top"
                alt="snapshot of solution visualization">
            <div class="card-body">
                <p class="date">MARCH 2021</p>
                <h4 class="card-title">Interning for Health Force Partners:</h4>
                <hr>
                <h5 class="subTitle">Design, then Develop</h5>
                <p class="card-text">After receiving the opportunity to start internship early doing ui/ux design, we
                    started by exploring different tools, like Figma and Adobe Xd, and eventually settled for Xd. We are
                    currently wrapping up the design face and will be working on a team of five developers.</p>
                <a href="#" class="btn btn-dark">Click to Read More About my Experience so Far</a>
            </div>
        </div>

        <div class="card" style="width:25rem;">
            <img src="./../../../assets/images/photos/kata.JPG" class="card-img-top"
                alt="snapshot of solution visualization">
            <div class="card-body">
                <p class="date">FEBRUARY 2021</p>
                <h4 class="card-title">Optimization Practice</h4>
                <hr>
                <h5 class="subTitle">Navigating a 4KYU Kata on Codewars.com</h5>
                <p class="card-text">Solving problems is fun. It takes reserach, creativity, and perseverence. The first
                    solution worked, but <em>didn't</em> because it timed out. After hours of re-thinking the problem, I
                    finally got to a working solution that passed all tests. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, praesentium deserunt recusandae unde officiis excepturi! Voluptatum odit quam, sit, dolore laborum aperiam tempora ad nihil est, nesciunt explicabo minima eligendi.</p>
                <a href="#" class="btn btn-dark">Read how I got to my solution</a>
            </div>
        </div>

        <!-- NEW CARD -->
        <div class="card" style="width:25rem;">
            <img src="./../../../assets/images/photos/dond.png" class="card-img-top"
                alt="snapshot of solution visualization">
            <div class="card-body">
                <p class="date">SEPTEMBER 2020</p>
                <h4 class="card-title">Breaking Into the Programming World</h4>
                <hr>
                <h5 class="subTitle">C# was the gateway to my learning about programming, and I've come a long way</h5>
                <p class="card-text">Solving problems is fun. It takes reserach, creativity, and perseverence. The first
                    solution worked, but <em>didn't</em> because it timed out.</p>
                <a href="#" class="btn btn-dark">Read my Project Evaluation</a>
            </div>
        </div>

        <!-- let's consider putting these in a google doc and pulling that API, same for the projects service -->
    </div>
</div>