<div class="container-fluid p-4 p-md-5">
    <div class="row d-flex justify-content-around">
        <div class="col-12 col-xl-4  pb-5 maxOut">
            <h3>DEV FLOW
            </h3>
            <hr>
            <div class="row justify-content-center">
                <!-- <div *ngFor="let skill of code" class="icons">{{skill}}</div> -->
                <div *ngFor="let skill of devflow; index as i">
                    <img src={{skill.path}} alt="{{skill.name}} icon" class="icons" />
                    <div class="col-12 text-center iconName">
                        {{skill.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4  pb-5 maxOut">
            <h3>CREATIVE FLOW
            </h3>
            <hr>
            <div class="row justify-content-center">
                <div *ngFor="let skill of creativeFlow; index as i">
                    <img src={{skill.path}} alt="{{skill.name}} icon" class="icons" />
                    <div class="col-12 text-center iconName">
                        {{skill.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4  pb-5 maxOut">
            <h3>PRODUCTIVITY FLOW
            </h3>
            <hr>
            <div class="row justify-content-center">
                <div *ngFor="let skill of prodFlow; index as i">
                    <img src={{skill.path}} alt="{{skill.name}} icon" class="icons sm" />
                    <div class="col-12 text-center iconName">
                        {{skill.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row text-center">
        <div class="col">
            open my resume
        </div>
    </div> -->
</div>