<div class="container-fluid p-5">
    <div class="row">
        <div class="col-4">
            <h3>DEV FLOW
            </h3>
            <hr>
            <div class="row justify-content-center">
                <div *ngFor="let skill of code" class="icons">{{skill}}</div>
            </div>
        </div>
        <div class="col-4">
            <h3>CREATIVE FLOW
            </h3>
            <hr>
                        <div class="row justify-content-center">
                            <div *ngFor="let skill of code" class="icons">{{skill}}</div>
                        </div>
        </div>
        <div class="col-4">
            <h3>PRODUCTIVITY FLOW
            </h3>
            <hr>
                        <div class="row justify-content-center">
                            <div *ngFor="let skill of code" class="icons">{{skill}}</div>
                        </div>
        </div>
    </div>
</div>