.jR
    font-size: 4rem
    font-weight: 200
    line-height: 50px

.caption
  font-size: 1rem

.me
  font-size: 1.25rem

$breakpoint-tablet: 768px
@media (min-width: $breakpoint-tablet) 
  .jR
    font-size: 8em
    font-weight: 200
    line-height: 125px
  .caption
    font-size: 1.5rem
  .me
    font-size: 1.5rem

.pointer
  cursor: pointer
  font-size: .8rem