<!-- <p>hero works!</p> -->
<div class="div mx-5 mt-5">
    <div class="row">
        <div class="col-12 col-lg-5 mx-auto">
            <img class="d-flex justify-content-center" src="./../../../assets/images/headshot.png" alt="headshot"
                style="max-width: 100%;" />
            <h3 style="text-align: center; font-weight: 400; letter-spacing: .5px;">
                <span style="color: cyan">learn. </span>
                <span style="color: yellow">design. </span>
                <span style="color: magenta">develop.</span>
            </h3>
        </div>
        <div class="col-12 col-lg-7 my-auto" style=" text-align: center;">
            <img src="./../../../assets/images/jr_logo_lg.svg" alt="my logo" />
            <h1 style="font-size: 150px; font-weight: 200; line-height: 125px;">
                joseph racca
            </h1>
            <h5>see my latest projects</h5>
        </div>
    </div>
</div>