.jR
  font-size: 4rem
  font-weight: 200
  line-height: 50px

.caption
  font-size: 1rem

.me
  font-size: 1.25rem

$breakpoint-tablet: 768px
@media (min-width: $breakpoint-tablet)
  .jR
    font-size: 8em
    font-weight: 200
    line-height: 125px
  .caption
    font-size: 1.5rem
  .me
    font-size: 1.5rem

.pointer
  cursor: pointer
  font-size: .8rem
.hero
  position: relative
  height: 100vh
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  opacity: 1

// .hero::before
//   content: ""
//   background-image: url('./../../../assets/images/projectScreenShots/eightAnd_ss1.png')
//   background-size: cover
//   position: absolute
//   top: 0px
//   right: 0px
//   bottom: 0px
//   left: 0px
//   opacity: .07
//   z-index: -1

.alert-banner
  display: flex
  justify-content: center
  align-items: center
  height: max-content
  background: yellow
  padding: 1rem!important

p.center-center
  color: black!important
  text-align: center!important
  vertical-align: middle!important
  line-height: 1.25
  margin: 0 0 5px 0 !important
