h3.modal-title, .description
    color: #000 !important

.description
    font-size: .8rem

    
.modalClass
    background-color: black
    width: 75vw
    height: 75vh
    box-shadow: 5px 5px 10px #00000050
    position: absolute
    display: flex
    justify-content: center
    align-items: center

.w-100
    width: 100%

.dark
    color: #000000!important

.image-top
    width: 100%
    // height: 600px
    object-fit: cover
    object-position: top center
    background: #d5d5d5
    padding: 0px 5px 5px 5px
    border-radius: 0px 0px 3px 3px

.window-title
    padding: 5px 5px 5px 5px
    border-radius: 10px 10px 0px 0px
    background: #d5d5d5
    text-align: center
    color: black
    font-weight: 500
    display: flex
    justify-content: center

@media (min-width: 992px) 
    .right-side
        border-left: 1px solid #a6a6a686
     


.right-side
    border-left: none

.date
    letter-spacing: 2px
    color: white

.round
    width: 15px
    height: 15px
    border-radius: 50%
    margin-right: 10px

.red, .green, .yellow
    border: solid .1px #00000025

.red
    background: #e77162
    margin-left: 10px

.green
    background: #5dd667

.yellow
    background: #ffdb3a

.w-100
    width: 100%

.modal-content
    // background: #171717!important
    // border: solid 2px #ffffff25 !important
    box-shadow: 5px 5px 100px #00000080

.white
    color: black!important